<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Apply Certificate &mdash; A WEB-BASED PERMIT MANAGEMENT SYSTEM FOR MATALAM FIRE STATION</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="https://permit-matalam.onrender.com/css/style.css">
  <link rel="stylesheet" href="https://permit-matalam.onrender.com/css/components.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <%- include('../components/navbar.ejs') %>
      <%- include('../components/sidebar.ejs') %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Add Application Certificate</h1>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h6 style="color: #800000;">CERTIFICATE OF OCCUPANCY APPLICATION</h6>
                  </div>
                  <div class="card-body p-3">
                    <form id="applyCertForm" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Owner Name</label>
                            <input type="text" class="form-control" name="owner_name" id="owner_name" value="<%= fullname %>" required="" readonly>
                            <div class="invalid-feedback">
                              Enter your establishment owner?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Establishment Name</label>
                            <input type="text" class="form-control" name="establishment" id="establishment" required="">
                            <div class="invalid-feedback">
                              What's your establishment information?
                            </div>
                          </div>
                        </div>
                      </div>

                  
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Contact number</label>
                            <input type="text" class="form-control" name="contact_number" id="contact_number" required="">
                            <div class="invalid-feedback">
                              What's your contact number?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="email" id="email" required="">
                            <div class="invalid-feedback">
                              What's your email address?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>Exact Address of the business</label>
                            <input type="text" class="form-control" name="address" id="address" required="">
                            <div class="invalid-feedback">
                              Enter exact address of the establishment?
                            </div>
                          </div>
                        </div>

                      </div>

                  
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Authorize Representative Name</label>
                            <input type="text" class="form-control" name="representative" id="representative" required="">
                            <div class="invalid-feedback">
                              What's your representative name?
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label>Business Nature/Type</label>
                            <input type="text" class="form-control" id="type" name="type" required="">
                            <div class="invalid-feedback">
                              What's your business type?
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>Floor area <small>(meter square format)</small></label>
                            <input type="number" class="form-control" name="area" id="area" required="">
                            <div class="invalid-feedback">
                              Enter floor area?
                            </div>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group">
                            <label>No. of storey area</label>
                            <input type="number" class="form-control" name="storey" id="storey" required="">
                            <div class="invalid-feedback">
                              How many storey your establishment?
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>FSCI Business Permit</label>
                        <select name="typePermit" id="typePermit" class="form-control">
                          <option value="new">New Business</option>
                          <option value="renew">Renew Business</option>
                        </select>
                        <div class="invalid-feedback">
                          What's your business type?
                        </div>
                      </div>

                      <h6 style="color: #800000;">ATTACHMENT FOR FSIC FOR CERTIFICATE OF OCCUPANCY</h6>
                      <hr>
                      <div class="alert alert-primary">
                        <p style="font-size: 17px;">Please note that all fields in the attachment files section are optional. However, you are required to upload at least three documents to proceed with the submission.</p>                        
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <div class="mb-3">
                              <label for="formFile" class="form-label" style="font-size: 12px;">ENDORSEMENT FROM OFFICE OF THE BUILDING OFFICIAL (OBO)</label>
                              <input accept=".pdf" class="form-control" type="file" name="endoresment_file" id="endoresment_file">
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <div class="mb-3">
                              <label for="formFile" class="form-label" style="font-size: 12px;">CERTIFICATE OF COMPLETION </label>
                              <input accept=".pdf" class="form-control" type="file" name="completion_file" id="completion_file">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="mb-3">
                          <label for="formFile" class="form-label" style="font-size: 12px;">CERTIFIED TRUE COPY OF ASSESSMENT FEE FOR SECURING CERTIFICATE OF OCCUPANCY FROM OBO </label>
                          <input accept=".pdf" class="form-control" type="file" name="assessment_file" id="assessment_file">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <div class="mb-3">
                              <label for="formFile" class="form-label" style="font-size: 12px;">AS-BUILT PLAN (IF NECESSARY)</label>
                              <input accept=".pdf" class="form-control" type="file" name="plan_file" id="plan_file">
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <div class="mb-3">
                              <label for="formFile" class="form-label" style="font-size: 12px;">FIRE SAFETY COMPLIANCE AND COMMISSIONING REPORT (IF NECESSARY)</label>
                              <input accept=".pdf" class="form-control" type="file" name="fscr_file" id="fscr_file">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="newSection">
                        <h6 style="color: #800000;">FSIC FOR BUSINESS PERMIT (NEW BUSINESS)</h6>
                        <hr>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">ASSESSMENT OF BUSINESS PERMIT FEE/ TAX ASSESSMENT BILL FROM BPLO
                                </label>
                                <input accept=".pdf" class="form-control" type="file" name="business_assessment_file" id="business_assessment_file">
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">CERTIFIED TRUE COPY OF VALID CERTIFICATE OF OCCUPANCY</label>
                                <input accept=".pdf" class="form-control" type="file" name="occupancy_file" id="occupancy_file">
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="row">
                          <div class="col-7">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">AFFIDAVIT OF UNDERTAKING THAT THERE WAS NO SUBSTANTIAL CHANGES MADE ON BUILDING/ESTABLISHMENT
                                </label>
                                <input accept=".pdf" class="form-control" type="file" name="affidavity_file" id="affidavity_file">
                              </div>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">COPY OF FIRE INSURANCE (IF NECESSARY)
                                </label>
                                <input accept=".pdf" class="form-control" type="file" name="fire_insurance_file" id="fire_insurance_file">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="renewSection">
                        <h6 style="color: #800000;">FSIC FOR BUSINESS PERMIT (RENEW BUSINESS)</h6>
                        <hr>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">ASSESSMENT OF THE BUSINESS PERMIT FEE/TAX ASSESSMENT BILL FROM BPLO</label>
                                <input accept=".pdf" class="form-control" type="file" name="renew_assessment_bill" id="renew_assessment_bill">
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">COPY OF FIRE INSURANCE (IF NECESSARY)
                                </label>
                                <input accept=".pdf" class="form-control" type="file" name="renew_fire_insurance_file" id="renew_fire_insurance_file">
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="row">
                          <div class="col-5">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">FIRE SAFETY MAINTENANCE REPORT (FSMR) (IF  NECESSARY)
                                </label>
                                <input accept=".pdf" class="form-control" type="file" name="renew_firesafety_maintenance" id="renew_firesafety_maintenance">
                              </div>
                            </div>
                          </div>
                          <div class="col-7">
                            <div class="form-group">
                              <div class="mb-3">
                                <label for="formFile" class="form-label" style="font-size: 12px;">FIRE SAFETY CLEARANCE FOR WELDING, CUTTING AND OTHER HOT WORK OPERATIONS (IF REQUIRED)
                                </label>
                                <input accept=".pdf" class="form-control" type="file" name="renew_firesafety_clearance" id="renew_firesafety_clearance">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-primary icon-left btn-lg" style="text-transform: uppercase;">
                        <i class="far fa-edit"></i>
                        Apply for Certification
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <%- include('../components/footer.ejs') %>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://permit-matalam.onrender.com/js/stisla.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="https://permit-matalam.onrender.com/js/scripts.js"></script>
  <script src="https://permit-matalam.onrender.com/js/custom.js"></script>
  <script>
     $("#applyCertForm").on('submit', function(e){
      e.preventDefault()

      const formData = new FormData()

      const owner_name       = $("#owner_name").val()
      const establishment    = $("#establishment").val()
      const contact_number   = $("#contact_number").val()
      const email            = $("#email").val()
      const address          = $("#address").val()
      const representative   = $("#representative").val()
      const type             = $("#type").val()
      const storey           = $("#storey").val()
      const area             = $("#area").val()
      const typePermit       = $("#typePermit").val()

      const endoresment_file = $("#endoresment_file").prop('files')[0] || null;
      const completion_file  = $("#completion_file").prop('files')[0]  || null;
      const assessment_file  = $("#assessment_file").prop('files')[0]  || null;
      const plan_file        = $("#plan_file").prop('files')[0] || null;
      const fscr_file        = $("#fscr_file").prop('files')[0] || null;

      const uploadedFilesCount = [endoresment_file, completion_file, assessment_file, plan_file, fscr_file]
      .filter(file => file !== null).length;

      if (uploadedFilesCount < 3) {
        Swal.fire({
          title: 'Warning!',
          text: 'Please upload atleast 3 attachments and try again.',
          icon: 'warning',
          confirmButtonText: 'Confirm'
        });
        return;
      }

      if(typePermit == "new"){
        const business_assessment_file = $("#business_assessment_file").prop('files')[0] || null;
        const occupancy_file   = $("#occupancy_file").prop('files')[0] || null;
        const affidavity_file  = $("#affidavity_file").prop('files')[0] || null;
        const fire_insurance_file = $("#fire_insurance_file").prop('files')[0] || null;

        formData.append('business_assessment_file',business_assessment_file)
        formData.append('occupancy_file',occupancy_file)
        formData.append('affidavity_file',affidavity_file)
        formData.append('fire_insurance_file',fire_insurance_file)

      }else if(typePermit == "renew"){
        const renew_assessment_bill = $("#renew_assessment_bill").prop('files')[0] || null;
        const renew_fire_insurance_file    = $("#renew_fire_insurance_file").prop('files')[0] || null;
        const renew_firesafety_maintenance = $("#renew_firesafety_maintenance").prop('files')[0] || null;
        const renew_firesafety_clearance   = $("#renew_firesafety_clearance").prop('files')[0] || null;

        formData.append('renew_assessment_bill',renew_assessment_bill)
        formData.append('renew_fire_insurance_file',renew_fire_insurance_file)
        formData.append('renew_firesafety_maintenance',renew_firesafety_maintenance)
        formData.append('renew_firesafety_clearance',renew_firesafety_clearance)
      }


      formData.append('owner_name',owner_name)
      formData.append('establishment',establishment)
      formData.append('contact_number',contact_number)
      formData.append('email',email)
      formData.append('address',address)
      formData.append('representative',representative)
      formData.append('type',type)
      formData.append('area',area)
      formData.append('storey',storey)
      formData.append('typePermit',typePermit)
      formData.append('fscr_file',fscr_file)
      formData.append('plan_file',plan_file)
      formData.append('assessment_file',assessment_file)
      formData.append('completion_file',completion_file)
      formData.append('endoresment_file',endoresment_file)

      if(owner_name == "" || establishment == "" || contact_number == "" || email == "" || address == "" || representative == "" || type == "" || storey == ""){
        Swal.fire({
              title: 'Warning!',
              text: 'All fields are required, please fill up and try again.',
              icon: 'warning',
              confirmButtonText: 'Confirm'
            });
        return;
      }

      Swal.fire({
        title: 'Confirmation',
        text: 'Have you check all the fields and the attachment files, you cannot modify the attachments after saving this application?',
        showDenyButton: true,
        showCancelButton: false,
        confirmButtonText: 'Save & Confirmed',
        icon: 'info',
        denyButtonText: `Check again`,
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
          url: 'https://permit-matalam.onrender.com/client/apply-certificate',
          method: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: function(response){
            if(response.message == 'success_added_application'){
                Swal.fire({
                  title: 'Horayyy!',
                  text: 'You have successfully added a new certificate application.',
                  icon: 'success',
                  confirmButtonText: 'Ok'
                });

              setTimeout(function(){
                window.location.href = 'https://permit-matalam.onrender.com/client/my-application-certificate'
              },3000)

            }else if(response.message == 'error_adding_application'){

              Swal.fire({
                  title: 'Sorry!',
                  text: 'Cannot application, there something wrong with your data.',
                  icon: 'warning',
                  confirmButtonText: 'Ok'
                });

              return;
            }
          },
          error: function (xhr, status, error) {

              const messages = xhr.responseJSON

              if(messages.message == "disallowed"){
                Swal.fire({
                  title: 'Disallowed File',
                  text: 'Sorry, you are trying to upload a file that is not allowed.',
                  icon: 'error',
                  confirmButtonText: 'Done'
                });
                return;
              }

              if(messages.message == "unsupported"){
                Swal.fire({
                  title: 'Unsupported File',
                  text: 'Sorry, you are trying to upload a file that is not supported by the system.',
                  icon: 'error',
                  confirmButtonText: 'Done'
                });
                return;
              }
          }
        });
          

        } else if (result.isDenied) {
          Swal.fire('Information', 'No operation has been made', 'info')
        }
      });

      
    });


    window.onload = function(){
      const businessPermitType = document.getElementById("typePermit").value

      if(businessPermitType === "new"){
        document.getElementById("newSection").style.display = "block"
        document.getElementById("renewSection").style.display = "none"
      }else if(businessPermitType === "renew"){
        document.getElementById("newSection").style.display = "none"
        document.getElementById("renewSection").style.display = "block"
      }
    }

    document.getElementById("typePermit").onchange = function(){
      if(this.value === "new"){
        document.getElementById("newSection").style.display = "block"
        document.getElementById("renewSection").style.display = "none"
      }else if(this.value === "renew"){
        document.getElementById("newSection").style.display = "none"
        document.getElementById("renewSection").style.display = "block"
      }
    };
  </script>
  <!-- Page Specific JS File -->
</body>
</html>
